.box
	background: url(./p6.png) no-repeat bottom #f8f2dc;padding: 20px 0 200px
	.center
		width: 1100px;margin: 0 auto;overflow: hidden
	.left
		width: 366px;display: inline-block
		a
			display: block;width: 364px;height: 55px;line-height: 55px;text-align: left;margin-bottom: 8px;
			background:url(./a1.png) no-repeat 100%;color: #fff;font-size: 24px;text-indent: 50px;
			&.active
				background-image:url(./a2.png)
		img
			margin: 20px 0 0 20px;
	.right
		width: 714px;display: inline-block;vertical-align: top;padding-left: 20px