.header
	background: url(./p1.png);height: 129px;overflow: hidden
	.logo
		float: left;width: 30%;margin-left: 13%;margin-top: 25px
	.text
		float: right;margin: 60px 100px 0 0;color:#9d3833;position:relative
		span
			width: 430px;position: absolute;left: 140px;top: -1px;font-size: 22px;font-weight: bold;white-space:nowrap;
.nav
	background: #b81c25
	.center
		width: 1100px;margin: 0 auto;list-style:none
	a
		color: #fff;font-size: 18px;font-weight: 700;display: inline-block;line-height: 70px;padding: 0 20px
		&:hover
			color: #ffa200
.content
	min-height:500px
.links
	line-height: 53px;background: #72080c;text-align: center
	a
		color: #fff;font-size: 14px;padding: 0 10px
.footer
	height: 138px;background: #000;color: #fff;font-size: 14px
	.center
		margin: 0 auto;width: 880px;padding: 10px 0
	.qrcode
		margin-top: 8px;float: left
	.text
		float: left;padding-left: 20px;padding-top: 8px;line-height: 18px;
	.line
		width: 1px;height: 101px;margin: 6px 0 0 30px;background: #fff;float: left
